.applications--inner {
	padding-top: 10rem;
}

.applications-List {
	max-width: 1024px;
	margin: 0 auto;
}

.applications-list__table {
	width: 100%;
	text-align: center;

	border-collapse: collapse;
}

.application-list__header {
	border: 2px solid #222823;
	border-top: none;
	border-left: none;
	font-weight: bold;
	font-size: 20px;
	padding: 10px;
}

.application-list__header:last-child {
	border-right: none;
}
